<div class="flex flex-wrap mb-1">
  <div class="w-full md:w-6 px-4 py-8 md:px-6 lg:px-8 text-center" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), linear-gradient(246.36deg, #007261 15.22%, #005347 65.22%);">
    <div class="text-6xl font-bold mb-1 text-white">SincereK 3D Prints</div>
    <div class="text-6xl text-green-500 font-bold mt-6 mb-4">Subscribe</div>

    @if (subscribed) {
      <p class="mt-0 mb-3 line-height-3 text-center mx-auto text-white" style="max-width:500px">
        Thanks for subscribing! We will notify you when we launch new products at {{ form.get('email')?.value }}.
      </p>
    } @else {
      <p class="mt-0 mb-3 line-height-3 text-center mx-auto text-white" style="max-width:500px">
        Signup to be notified when we launch new products.
      </p>

      <form [formGroup]="form" (ngSubmit)="subscribe()" class="flex align-items-center justify-content-center flex-wrap">
        <input name="email" type="email" formControlName="email" pInputText class="bg-transparent border-white p-3 mr-3 mt-3" style="border-radius: 40px" size="30" placeholder="Enter your email" required>
        <button pButton pRipple type="submit" label="Notify Me" class="p-3 mt-3" severity="success" style="border-radius: 40px" [disabled]="form.invalid"></button>
      </form>
    }
  </div>
  <div
    class="w-full md:w-6 bg-no-repeat bg-cover bg-center"
    style="background: url('assets/green-dragon.png'); min-height: 500px;">
  </div>
</div>

<shop-products-view [breadcrumbs]="false" />

<div class="flex flex-wrap mt-4">
  <div
    class="w-full md:w-6 bg-no-repeat bg-cover bg-center"
    style="background: url('assets/triceratops.png'); min-height: 500px;">
  </div>
  <div
    class="w-full md:w-6 bg-no-repeat bg-cover bg-center"
    style="background: url('assets/octopus.png'); min-height: 500px;">
  </div>
</div>
