@import 'primeflex/primeflex';

:host {
  flex: 1;
}

.pi.pi-star-half-fill {
  position: relative;
  z-index: 2;
}

.pi.pi-star-half-fill::after {
  @include styleclass('text-300');
  content: "\e936";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.tricolors {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}
